
<section class="gapmap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29441.232959985096!2d88.46181249115278!3d22.
    722512265715885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f8a209b5283ced%3A0x4989765a0652bd78!2sBarasat%
    2C%20Kolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1704353716029!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>