
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="container-fluid mt-5 kolom " id="aboutid">
          <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                  <h1 class="text-center main-heading  clone">About Us</h1>
                  <p class="text-center main-heading bulid">Grow Your Business with Us</p>
              
                <div class="row">
                 <div class="col-md-6 col-12 hero-text">
                  <figure>
                <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                  <img class="imgtoptp" src="https://img.freepik.com/premium-vector/girl-holding-book-isolated-cartoon-character-elementary-school-student-with-backpack_71593-230.jpg?w=740"
                   alt="image-fast" height="650px" width="580px" />
                  </figure>
                  </div>
                  <div class="col-md-6 col-12 hero-text d-flex justify-content align-items-start flex-column pt-25 downto">
                    <h1 class="hot">WE  ARE THE PROFESSIONA<br><strong class="foxxx">DEVELOPER </strong> ✌</h1>
                   
                    <P class="firebox">Welcome To <span class="boldx">SushantaTechnical </span> Your Number  One source For All Things.We`re<br>
                    Dedicated To Giving You The Very Best Of  Work. With A Focus On [Three<br>
                  Characteristics. le: Developer.Customer Service And Uniqueness.</P>
                  <button class="btn btn-dark">Read More</button>
                  </div>
                </div>
              </div>
              </div>
              </div>
              </div>
      </div> 
</body>
</body>
</html>