<!-- <%- include("partials/header.ejs") %> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid mt-5 kolom" id="serviceid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading  logo logo1">Service Our</h1>
                <p class="text-center main-heading">Grow Your Business</p>
                <div class="row gap">
                    <div class="col-md-4 ">
                        <div class="box">
                            <div class="our-service setting servicepop">
                                <div class="icon icon1">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="kolkata"/>
                                </div>
                                <h4 class="icon1">setting</h4>
                              <p class="hot123">On the Home tab or on the Page Layout tab, click the Paragraph Dialog Box Laun</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-service setting Privacy servicepop">
                                <div class="icon  icon1">
                                    <img src="https://i.imgur.com/AgyneKA.png" alt="kolkata" />
                                </div>
                                <h4 class="icon1">Privacy</h4>
                                <p class="hot123">On the Home tab or on the Page Layout tab, click the Paragraph Dialog Box Laun</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-service setting Backups servicepop">
                                <div class="icon icon1">
                                    <img src="https://i.imgur.com/vdH9LKi.png" alt="kolkata" />
                                </div>
                                <h4 class="icon1">Backups</h4>
                                <p class="hot123">On the Home tab or on the Page Layout tab, click the Paragraph Dialog Box Laun</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-service setting SSL servicepop">
                                <div class="icon icon1">
                                    <img src="https://i.imgur.com/v6OnUqu.png" alt="kolkata" />
                                </div>
                                <h4 class="icon1">SSL secured</h4>
                                <p class="hot123">On the Home tab or on the Page Layout tab, click the Paragraph Dialog Box Laun</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-service setting Database servicepop">
                                <div class="icon icon1">
                                    <img src="https://i.imgur.com/VzjZw9M.png" alt="kolkata" />
                                </div>
                                <h4 class="icon1">Database</h4>
                                <p class="hot123">On the Home tab or on the Page Layout tab, click the Paragraph Dialog Box Laun</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-service setting servicepop">
                                <div class="icon icon1">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="kolkata" />
                                </div>
                                <h4 class="icon1">setting</h4>
                                <p class="hot123">On the Home tab or on the Page Layout tab, click the Paragraph Dialog Box Laun</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>